


/* ---------------------------------------------------home.html*/


.homeimage {
    width: 100%;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: #f0f1f2;
  font-family: 'Poppins', sans-serif;
  font-size: 70px;
  background: rgba(0, 0, 0, 0);
  text-shadow: 2px 2px grey;
  text-align: center;

}

.centered2 {
   position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: #f0f1f2;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  background: rgba(0, 0, 0, 0);
  text-shadow: 2px 2px grey;
  text-align: center; 
}

#homebutton {
    background-color: #FF7F50;
    text-align: center;
    margin-right: 40px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 30px;
}



/* ---------------------------------------------------navbar*/

.nav-bar-hover {
    width: 100%;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 99999999;
}


.nav-bar-hover: hover {
    font-size: 40px;
}

.nav-item {
    font-size: 25px;
}




/* ---------------------------------------------------Image Carousel */

.carousel-inner img {
      width: 100%;
}

#myCarousel {
    margin: 0;
    padding: 0;
}

.carousel-item {
      position: relative;
      margin-right: -100%;
      width: 100%;
}

.carousel-caption {
     text-align: center;
     color: #FFc107;
     font-weight: 700;
     padding-bottom: 100px;
     margin-bottom: 30px;
}

.container-fluid {
    background-color: #e3b7a0;
}


*/


/* ---------------------------------------------------Title across image carousel*/ 



.title {
   position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -180%);
  color: #f0f1f2;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  background: rgba(0, 0, 0, 0);
  text-shadow: 2px 2px grey;
  text-align: center; 
}



/* ---------------------------------------------------About Travel Route 66 section*/

 
#about {
    background-color: #fcfcfc;
    padding-top: 60px;
    padding-bottom: 20px;
}


.people {
    margin-top: 80px;
    margin-left: 20px;
    width: 300px;
    height: 200px;
    margin-bottom: 30px;
}


h2 {
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    color: #003366;
}

.people2 {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    color: #003366;
}


/* ---------------------------------------------------image cards that fade to text and paragraph of text below*/


.box7 {
  float: left;
  position: relative;
  width: 30%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 10px 12px 12px grey;
  margin-left: 33px;
  
}

.attractions {
  display: block;
  width: 400px;
  height: 300px;
  margin-top: 20px;
  
}

.nationalparks {
  display: block;
  width: 400px;
  height: 300px;
  margin-top: 20px;
  
}

.dining {
  display: block;
  width: 400px;
  height: 300px;
  margin-top: 20px;
   
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:  #e3b7a0;
  
}

.box7:hover .overlay {
  transition-timing-function: ease-in-out;
  opacity: 1;
  
  
}

.text {
  color: #003366;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 10px;
}


.largebox {
    box-sizing: border-box;
    height: 670px;
    width: 100%;
    background-color:  #e3b7a0;
    padding-top: 30px;
    margin-top: 10px;
    
}

.information {
    padding-top: 370px;
    padding-left: 50px;
    padding-right: 50px;
    color: #003366;
}



/* ---------------------------------------------------Reviews*/


 p.card-text {
   font-size: 15px;
   color: #003366;
 }


.card-body {
 text-align: center;

}

.review {
    margin-top: 40px;
    background-color: white;
}

.stars {
    color: yellow;
    font-size: 20px;
}


.review-img {
    height: 200px;
    width: 200px;
    margin-top: 0;
    border-radius: 50%;
    text-align: center;
    margin-left: 40px;
}


.card-body {
 text-align: center;

}

.review {
    margin-top: 60px;
   margin-left: 160px;
}



/* ---------------------------------------------------Google Map */

#map {
  width: 600px;
  height: 600px;
}

/* ---------------------------------------------------cards with package deals */








/* ---------------------------------------------------Footer */



