/* ---------------------------------------------------navbar*/

.nav-bar-hover {
    width: 100%;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 99999999;
}


.nav-bar-hover: hover {
    font-size: 40px;
}

.nav-item {
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
}




/* ---------------------------------------------------Image Carousel */

.carousel-item {
    width: 100%!important;
    height: 500px;
}

@media (max-width: 767px) {
    .carousel-item {
        height: 400px;
        width: 100%!important;
    }
}


.container-fluid {
    background-color: #BF0A30;
    width: 100%!important;
}


@media (max-width: 767px) { 
.container-fluid {
    background-color: #BF0A30;
    width: 100%!important;
    height: 400px;
}
}


/* ---------------------------------------------------Title across image carousel*/

.title {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -180%);
    color: #f0f1f2;
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    background: rgba(0, 0, 0, 0);
    text-shadow: 2px 2px grey;
    text-align: center;
   
   
}

@media (max-width: 992px) {
.title {
    transform: translate(-50%, -180%);
    color: #f0f1f2;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    background: rgba(0, 0, 0, 0);
    text-shadow: 2px 2px grey;
    text-align: center;
   
}
}


@media (min-width: 992px) {
.title2 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -180%);
    color: #f0f1f2;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    background: rgba(0, 0, 0, 0);
    text-shadow: 2px 2px grey;
    text-align: center;
}   
}


/* ---------------------------------------------------About Travel Route 66 section*/

#about {
    background-color: #fcfcfc;
    padding-top: 60px;
    padding-bottom: 20px;
}


.people {
    margin-top: 60px;
    margin-left: 20px;
    width: 300px;
    height: 200px;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
.people {
    margin-top: 60px;
    margin-left: 20px;
    width: 350px;
    height: 200px;
    margin-bottom: 30px;
}
}

h2 {
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    color: #003366;
}

@media (max-width: 768px) {
h2 {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    color: #003366;
    text-align: center;
}
}


.people2 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    color: #003366;
}

@media (max-width: 768px) {
.people2 {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    color: #003366;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}
}

/* ---------------------------------------------------image cards that fade to text and paragraph of text below*/




@media (min-width: 992px) {
.box7 {
    float: left;
    position: relative;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 12px 12px #4682B4;
    margin-left: 33px;
}
}



.spaceneedle {
    display: block;
    width: 400px;
    height: 300px;
    margin-top: 30px;

}


@media (max-width: 767px) {
    .spaceneedle {
        display: block;
        width: 380px;
        height: 400px;
        padding-bottom: 20px;
        margin-left: 18px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .spaceneedle {
        display: block;
        width: 600px;
        height: 400px;
        padding-bottom: 20px;
        margin-left: 80px;
        
    }
}


.nationalparks {
    display: block;
    width: 400px;
    height: 300px;
    margin-top: 30px;

}

@media (max-width: 768px) {
    .nationalparks {
        display: block;
        width: 380px;
        height: 400px;
        margin-left: 18px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .nationalparks {
        display: block;
        width: 600px;
        height: 400px;
        padding-bottom: 20px;
        margin-left: 80px;
        
    }
}

@media (min-width: 992px) {
.goldengate {
    display: block;
    width: 400px;
    height: 300px;
    margin-top: 30px;
}
}

@media (max-width: 768px) {
    .goldengate {
        margin-top: 40px;
        width: 380px;
        height: 400px;
        margin-left: 18px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .goldengate {
        display: block;
        width: 600px;
        height: 400px;
        padding-bottom: 20px;
        margin-left: 80px;
        
    }
}

@media (min-width: 992px) {
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #00688B;
    margin-top: 10px;

}
}



@media (min-width: 992px) {
#overlaytitle {
    font-size: 17px;
    color: white;
   padding-top: 20px;
   margin-top: 10px;
   
}
}

@media (max-width: 767px) {
#overlaytitle {
   font-size: 20px;
   color: #003366;
   padding-top: 10px;
   text-align: center;
   padding-left: 15px;
   padding-right: 15px;
  
}
}

@media (min-width: 768px) and (max-width: 992px) {
#overlaytitle {
   font-size: 20px;
   color: white;
   padding-top: 10px;
   text-align: center;
   padding-left: 60px;
   padding-right: 60px;
  
}
}



@media (min-width: 992px) {
.box7:hover .overlay {
    transition-timing-function: ease-in-out;
    opacity: 1;

}
}


@media (min-width: 992px) {
.text {
    color: white;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 10px;
}
}


@media (max-width: 767px) {
 .text {
    color: #003366;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 15px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
 .text {
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    }
}

@media (min-width: 992px) {
.largebox {
    box-sizing: border-box;
    height: 620px;
    width: 100%;
     background-color: #00688B;
    padding-top: 30px;
    margin-top: 10px;

}
}


@media (min-width: 768px) and (max-width: 992px) {
    .largebox {
        box-sizing: border-box;
        height: 2000px;
        width: 100%;
        background-color: #00688B;
        padding-top: 30px;
    }
}

@media (min-width: 768px) {
.information {
    padding-top: 370px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    font-size: 18px;
    margin-top: 20px;
}
}

@media (max-width: 768px) {
    .information {
       color: #003366;
       margin-top: 50px;
       font-size: 18px;
       text-align: center;
       padding-left: 15px;
       padding-right: 15px;
    }
}


/* ---------------------------------------------------Reviews*/

.card-text {
    font-size: 16px;
    color: #003366;
}

@media (max-width: 768px) {
    .card-text {
        width: 300px;
        
    }
}

.card-body {
    text-align: center;

}


.review {
    margin-top: 60px;
    background-color: white;
    padding-left: 250px;
}


.stars {
    color: yellow;
    font-size: 20px;
}

@media (max-width: 768px) {
    .stars {
        width: 300px;
    }
}

.review-img {
    height: 200px;
    width: 200px;
    margin-top: 0;
    border-radius: 50%;
    text-align: center;
    margin-left: 40px;
}

@media (max-width: 768px) {
    .review-img {
        height: 150px;
        width: 150px;
    
    }
}


.card-body {
    text-align: center;

}



/* ---------------------------------------------------Google Map */

@media (min-width: 1200px) {
.box5 {
    box-sizing: border-box;
    width: 70%;
    height: 1010px;
    background-color: #BF0A30;
    margin-left: 200px;
    margin-top: 40px;
}
}


@media (max-width: 768px) {
#map {
    height: 400px;
    width: 380px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 18px;
   
}
}

@media (min-width: 768px) and (max-width: 1199px) {
#map {
    height: 500px;
    width: 600px;
   
}
}

@media (min-width: 1200px) {
#map {
    height: 700px;
    width: 700px;
    margin-left: 130px;
    margin-top: 30px;
}
}

#listing {
    position: absolute;
    width: 200px;
    height: 470px;
    overflow: auto;
    left: 442px;
    top: 0px;
    cursor: pointer;
    overflow-x: hidden;
}


#autocomplete {
    width: 100%;
}


#usState {
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 768px) {
    #usState {
        color: #003366;
        padding-top: 890px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 768px) {
#searchPlace {
    margin-top: 50px;
}
}

.btn-main {
    color: white;
    font-weight: 400;
    background-color: #00688B;
    height: 80px;
    width: 160px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-bottom: 60px;

}

@media (max-width: 768px) {
.btn-main {
    color: white;
    font-weight: 400;
    background-color: #00688B;
    height: 40px;
    width: 120px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding-bottom: 60px;

}
}

.btn-main:hover {
    background-color: white;
    font-size: 20px;
    text-align: center;
    color: #002868;
    font-family: 'Poppins', sans-serif;
    
}

.one {
    margin: 35px 20px 0 200px;
    
}

@media (max-width: 768px) {
    .one {
        margin: 20px 10px 0 20px;
    }
}

@media (max-width: 768px) {
    .one:hover {
        margin: 20px 10px 0 20px;
        background-color: #BF0A30;
        color: white;
        font-size: 15px
    }
}

.two {
    margin: 35px 20px 0 200px;
}

@media (max-width: 768px) {
    .two {
        margin: 20px 10px 0 20px;
    }
}

@media (max-width: 768px) {
    .two:hover {
        margin: 20px 10px 0 20px;
        background-color: #BF0A30;
        color: white;
        font-size: 15px
    }
}

.three {
    margin: 35px 20px 0 200px;
}

@media (max-width: 768px) {
    .three {
        margin: 20px 10px 0 20px;
    }
}

@media (max-width: 768px) {
    .three:hover {
        margin: 20px 10px 0 20px;
        background-color: #BF0A30;
        color: white;
        font-size: 15px
    }
}

/* ---------------------------------------------------Info windows on google maps */

#info-box {
    max-width: 300px;
    background-color:  #00688B;
}



.place-line {
    font-weight: 400;
    font-size: 16px;
    color: white;
  
    
}

.place-line-paragraphs {
    font-weight: 300;
    font-size: 12px;
    
    
}


#place-name {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin: 5px;
    padding-top: 15px;
   
}


/* ---------------------------------------------------contact form */

#contactform {
    box-sizing: border-box;
    width: 100%;
    height: 520px;
    margin-top: 40px;
     background-color: #00688B;
}

@media (max-width: 768px) {
    #contactform {
        box-sizing: border-box;
        width: 380px;
        height: 600px;
        background-color: #00688B;
        margin-left: 18px;
    }
}

.form {
    width: 60%;
    height: 280px;
    margin-top: 40px;
    background-color: white;
    margin-left: 300px;
}


#fullname {
    margin-bottom: 30px;
    width: 95%;
    padding-left: 20px;
    margin-left: 20px;
    
}


@media (max-width: 768px) {
#fullname {
    width: 88%;
}
}


#emailaddress {
    margin-bottom: 30px;
    width: 95%;
    padding-left: 20px;
    margin-left: 20px;
}

@media (max-width: 768px) {
    #emailaddress {
        width: 88%;
    }
}


#description {
    margin-bottom: 30px;
    width: 95%;
    height: 120px;
    padding-left: 20px;
    margin-left: 20px;
}

@media (max-width: 768px) {
    #description {
       width: 88%;
    }
}



h4 {
    color: white;
     font-family: 'Poppins', sans-serif;
     padding-top: 30px;
     text-align: center;
     padding-bottom: 20px;
}

@media (max-width: 768px) {
    h4 {
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.form-header {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

#submitButton {
    background-color: white;

}

#submitButton:hover {
    background-color: #BF0A30;
    font-weight: bold;
}

@media (max-width: 768px) {
    #submitButton:hover {
        background-color: #BF0A30;
        color: white;
    }
}

/* ---------------------------------------------------cards with package deals */

